/* Propiedades Globales - App Mount - Chat */
.app__mount {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--color_red-1);
    .chat__wrapper {
        display: flex;
        .chat-list__wrapper {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            background-color: var(--color_white-2);
            .chat-preview-card__wrapper {
                height: 7%;
                padding: 2.5%;
                margin: 2%;
                column-gap: 2.5%;
                display: flex;
                flex-direction: row;
                border-radius: 10px;
                &.current {
                    background-color: var(--color_pink-1);
                }
                .user__avatar {
                    aspect-ratio: 1/1;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    overflow: hidden;
                    background-color: var(--color_red-1);
                    img {
                        aspect-ratio: 1/1;
                        height: 100%;
                    }
                }
                .chat-card__content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    min-width: 50%;
                    div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .current-msg__wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            transition: all 1s;
            &.panel-visible {
                .info-panel__wrapper {
                    transform: translateX(0);
                }
                .main-panel__wrapper {
                    border-radius: 0 50px 50px 0;
                }
            }
            .main-panel__wrapper {
                width: 100%;
                height: 100%;
                transition: all 1s;
                border-radius: 0;
                .main-panel__content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .chat-mobile__header, .chat-desktop__header {
                        img {
                            aspect-ratio: 1/1;
                            height: 100%;
                            border-radius: 50%;
                            background-color: black;
                            display: flex;
                            aspect-ratio: 1/1;
                        }
                    }
                    .chat__body {
                        height: 100%;
                        display: grid;
                        grid-template-rows: auto max-content;
                        overflow: hidden;
                        .message__wrapper {
                            padding-right: 3%;
                            padding-left: 3%;
                            width: 94%;
                            background-color: var(--color_white-1);
                            overflow-y: scroll;
                            .message {
                                --msg-background: var(--color_pink-1);
                                width: fit-content;
                                max-width: 90%;
                                margin-right: auto;
                                margin-left: 0;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                &.self-msg {
                                    --msg-background: var(--color_pink-3);
                                    flex-direction: row-reverse;
                                    margin-left: auto;
                                    margin-right: 0;
                                    .message__left-section {
                                        padding-left: 1%;
                                        padding-right: 0;
                                    }
                                    .message__right-section {
                                        margin-left: 0;
                                        margin-right: 10px;
                                        &::before {
                                            left: auto;
                                            right: -20px;
                                        }
                                        &::after {
                                            left: auto;
                                            right: -40px;
                                            border-left: 0;
                                            border-right: 40px solid var(--color_white-1);
                                        }
                                    }
                                }
                                .message__left-section {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-end;
                                    padding-left: 0;
                                    padding-right: 1%;
                                    width: fit-content;
                                    z-index: 2;
                                    .avatar {
                                        width: 50px;
                                        border-radius: 30%;
                                        overflow: hidden;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        height: auto;
                                        img {aspect-ratio: 1/1; width: 100%;}
                                    }
                                }
                                .message__right-section {
                                    position: relative;
                                    border-radius: 20px;
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 2%;
                                    padding: 10px;
                                    margin-left: 10px;
                                    background-color: var(--msg-background);
                                    z-index: 1;
                                    &::before, &::after {
                                        content: "";
                                        position: absolute;
                                        bottom: 0;
                                        z-index: -1;
                                    }
                                    &::before {
                                        width: 40px;
                                        height: 40px;
                                        left: -20px;
                                        background-color: var(--msg-background);

                                    }
                                    &::after {
                                        left: -40px;
                                        height: 15px;
                                        border-bottom: 40px solid var(--color_white-1);
                                        border-left: 40px solid var(--color_white-1);
                                        border-radius: 50px;
                                    }
                                    .user {font-size: 16px; font-weight: 900; color: var(--color_red-2); inline-size: 95%}
                                    .content {
                                        font-size: 16px;
                                        margin: 2.5% 0;
                                        overflow-wrap: break-word;
                                        inline-size: 95%;
                                    }
                                    .time {font-size: 12px; inline-size: 95%}
                                }
                            }
                        }
                        .chatter__wrapper {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            background-color: var(--color_white-3);
                            width: 96%;
                            height: 70px;
                            padding: 2%;
                            z-index: 2;
                            .chatter__entry {
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                background-color: var(--color_pink-3);
                                outline: 2px solid transparent;
                                &:focus-within, &:focus-visible, &:focus {
                                    outline: var(--color_red-1);
                                }
                                input {
                                    width: 100%;
                                    font-size: 16px;
                                    border: 0;
                                    background-color: transparent;
                                    outline: 0;
                                }
                            }
                        }
                    }
                }
            }
            .info-panel__wrapper {
                transition: all 1s;
                background-color: transparent;
                transform: translateX(100%);
                overflow-y: hidden;
                .info-panel__content {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2%;
                    width: auto;
                    height: 93%;
                    padding: 8%;
                    background-color: var(--color_white-2);
                }
            }
        }
    }
}

/*- App Mount Mobile-*/
@media screen and (max-width: 799px) {
    .app__mount {
        flex-direction: column;
        .nav-bar_desktop__wrapper {display: none;}
        .quick-access_wrapper {display: none;}
        .nav-bar_mobile__wrapper {
            /*- Navigation Bar Mobile -*/
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 7%;
            margin: 3%;
            flex-direction: row;
            .menu__content {
                display: flex;
                flex-direction: column;
                position: fixed;
                padding: 2%;
                row-gap: 2%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 20%;
                border-radius: 0 50px 50px 0;
                z-index: 5;
                background-color: var(--color_white-1);
                transition: all 1s;
                transform: translateX(-100%);
                .outer-area {
                    position: absolute;
                    background-color: transparent;
                    top: 0;
                    bottom: 0;
                    left: 90%;
                    right: 0;
                    z-index: -1;
                }
                .button {
                    height: 8%;
                    display: flex;
                    flex-direction: row;
                    width: 94%;
                    padding: 2%;
                    .icon {
                        width: auto;
                        height: 100%;
                    }
                }
            }
            .entry.simple{
                height: 80%;
                width: 70%;
            }
            &.menu-visible {
                & > .button {
                    &.contrast .icon {
                        color: var(--color_beige-1);
                    }
                    &.contrast.tool .icon {
                        color: var(--color_pink-3);
                    }
                    .icon {
                        fill:currentColor;
                        stroke: none;
                        stroke-width: 0;
                    }
                }
                .menu__content{
                    transform: translate(0);
                    .outer-area{right: -25%;}
                }
            }
        }
        .chat__wrapper {
            /* Chat App Mobile */
            border-radius: 50px 50px 0 0;
            top: 10%;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            flex-direction: column;
            overflow: hidden;
            .chat-list__wrapper {
                padding-top: 8%;
                .chat-list__header{display: none;}
                .chat-preview-card__wrapper .chat-card__content {width: 80%;}
            }
            &.chat-visible {
                .current-msg__wrapper {
                    z-index: 10;
                    .main-panel__wrapper .main-panel__content {
                        .chat-mobile__header {transform: translateY(0);}
                        .chat__body {transform: translateY(0);}
                    } 
                }
            }
            .current-msg__wrapper{
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                .main-panel__wrapper {
                    .main-panel__content {
                        .chat-desktop__header {display: none;}
                        .chat-mobile__header {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            background-color: var(--color_red-1);
                            height: 7%;
                            padding: 3%;
                            transition: all 1s;
                            transform: translateY(-150%);
                        }
                        .chat__body {
                            transition: all 1s;
                            transform: translateY(100%);
                            border-radius: 50px 50px 0 0;
                            .message__wrapper {
                                padding-top: 8%;
                                height: 96%;
                                .message {
                                    margin: 5%;
                                }
                            }
                        }
                    }
                }
                .info-panel__wrapper {
                    position: fixed;
                    top: 9.9%;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 10;
                    .info-panel__content {
                        border-radius: 50px 0 0 0;
                        .chat-info__wrapper {
                            p {
                                text-align: center;
                                padding: 0;
                                margin: 0;
                                font-size: 30px;
                                font-weight: 800;
                            }
                        }
                    }
                }
            }
        }
    }    
}

/*- App Mount Desktop -*/
@media screen and (min-width: 800px) {
    .app__mount {
        .nav-bar_mobile__wrapper {display: none;}
        .nav-bar_desktop__wrapper {
            display: flex;
            flex-direction: column;
            width: 4%;
            background-color: transparent;
            justify-content: center;
            align-items: center;
            nav {
                display: flex;
                flex-direction: column;
                row-gap: 2.5%;
                width: 70%;
                height: fit-content;
            }
        }
        .quick-access_wrapper {
            display: flex;
            width: 50px;
            height: 100%;
            border: 1px solid red;
        }
        .chat__wrapper {
            flex-direction: row;
            width: 100%;
            height: 97vh;
            padding: 1.5vh;
            overflow-x: hidden;
            .chat-list__wrapper {
                flex: 0.5;
                border-radius: 50px 0 0 50px;
                .chat-list__header {
                    height: 7%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 2%;
                }
                .chat-preview-card__wrapper .chat-card__content {width: 85%;}
            }
            .current-msg__wrapper {
                position: relative;
                flex: 1;
                overflow-x: hidden;
                &.panel-visible {
                    .info-panel__wrapper {
                        transform: translateX(0);
                        flex: 0.5;
                    }
                    .main-panel__wrapper {
                        border-radius: 0 50px 50px 0;
                    }
                }
                .main-panel__wrapper {
                    flex: 1;
                    overflow-x: hidden;
                    .main-panel__content {
                        .chat-mobile__header {display: none;}
                        .chat-desktop__header {
                            height: 6%;
                            background-color: var(--color_white-2);
                            padding: 2%;
                            padding-right: 5%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            .header__wrapper {
                                height: 100%;
                                width: fit-content;
                                display: flex;
                                flex-direction: row;
                                column-gap: 8%;
                                align-items: center;
                                p {
                                    margin: 0;
                                    padding: 0;
                                    font-size: 30px;
                                    font-weight: 700;
                                    white-space: nowrap;
                                }
                            }
                            .tools__wrapper {
                                height: 100%;
                                width: max-content;
                                display: flex;
                                flex-direction: row-reverse;
                                column-gap: 8%;
                                color: var(--color_beige-1);
                            }
                        }
                        .chat__body {
                            .message__wrapper {
                                .message {
                                    margin-top: 1%;
                                    margin-bottom: 1%;
                                }
                            }
                            .chatter__wrapper {
                                padding-right: 5%;
                                width: 93%;
                            }
                        }
                    }
                }
                .info-panel__wrapper {
                    width: 50%;
                    height: 100%;
                    flex: 0;
                    .info-panel__content {
                        margin-left: 1.5vh;
                        border-radius: 50px;
                        .chat-info__wrapper {display: none;}
                    }
                }
            }
        }
    }
}