*{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}    
input[type=text]{
    border: 2px solid rgb(236, 180, 60);
    border-radius: 4px;
    
}
input[type=email]{
    border: 2px solid rgb(236, 180, 60);
    border-radius: 4px; 
    
}
input[type=password]{
    border: 2px solid rgb(236, 180, 60);
    border-radius: 4px;
    
}
textarea {
    width: 50%;
    height: 200px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(236, 180, 60);
    border-radius: 4px;
    background-color:rgb(233, 232, 230) ;
    resize: none;
}
input[type=reset]{
    border: 2px solid rgb(236, 180, 60);
    border-radius: 4px; 
    
}
input[type=submit]{
    border: 2px solid rgb(236, 180, 60);
    border-radius: 4px; 
}


.formulario-caja {
    display:none;
    text-align: center;
    background-color: (255,255,255,0,4);
    border: 1px solid #f6f2f2;
    padding: 20px;
    border-radius: 5px;
    width: 100%; 
    margin: 0 auto;
    height: 100%;
    &.visible {
        display:block;
    
    }
}
.formulario-caja2 {
    display:none;
    text-align: center;
    background-color: (255,255,255,0,4);
    border: 1px solid #f6f2f2;
    padding: 20px;
    border-radius: 5px;
    width: 500px; 
    margin: 0 auto;
    max-height: 285px;
    &.visible {
        display:block;
        overflow-y:auto;
    
    }
}
/* --- */

.login-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    img {
        height: 100%;
    }
}

main{
    top: 50px;
    left: 0;
    right: 0;
    bottom: 50px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    position:absolute;
    bottom: 0;
    background-color: rgb(236, 180, 60);
    left: 0;
    right: 0;
}

header {
    position: absolute;
    background-color: rgb(236, 180, 60);
    top: 0;
    right: 0;
    left: 0;
}