h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}    



nav{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    text-align: center;
}
input[type=text]{
    border: 2px solid rgb(236, 180, 60);
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type=email]{
    border: 2px solid rgb(236, 180, 60);
    border-radius: 4px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
input[type=password]{
    border: 2px solid rgb(236, 180, 60);
    border-radius: 4px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(236, 180, 60);
    border-radius: 4px;
    background-color:rgb(244, 240, 233) ;
    resize: none;
}
input[type=reset]{
    border: 2px solid rgb(236, 180, 60);
    border-radius: 4px; 
    
}
input[type=submit]{
    border: 2px solid rgb(236, 180, 60);
    border-radius: 4px; 
}


.formulario-caja {
    display: none;
    background-color: (255,255,255,0,4);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 500px; 
    margin: 0 auto;
    &.visible {
        display: block;
    }
}
.formulario-caja2 {
    display: none;
    background-color: (255,255,255,0,4);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 500px; 
    margin: 0 auto;
    &.visible {
        display: block;
    }
}

/* --- */

.login-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    img {
        height: 100%;
    }
}

main{
    top: 50px;
    left: 0;
    right: 0;
    bottom: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(236, 180, 60);
    left: 0;
    right: 0;
}

header {
    position: absolute;
    background-color: rgb(236, 180, 60);
    top: 0;
    right: 0;
    left: 0;
}