* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {

    height: 100%;
    margin: 0;
    padding: 0;

}



.app_wrapper {
    background-image: url(../imgs/pareja1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

input:hover {
    cursor: pointer;

}



.container {
    color: white;
    width: 50vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}



.formulario-caja {
    display: none;

    &.visible {
        display: block;

    }
}


@media screen and (max-width: 730px) {
    .container {
        width: 80vw;
        height: auto;
        padding: 20px;
        overflow: auto;
    }

    .form-group {
        width: 80%;
    }
}

.formulario-caja2 {
    display: none;

    &.visible {
        display: block;
    }
}

.form-group {
    position: relative;


}

.form-group input {
    width: 100%;
    height: 50px;
    background: transparent;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    padding: 0 30px 0 10px;

}

.form-group i {
    position: absolute;
    top: 60%;
    right: 20px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.2em;
}


#btn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 40px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

#btn:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #de1616;

}

#saveData {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 40px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

#saveData:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #de1616;

}

h1 {
    font-size: 2em;
    font-family: cursive;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.logo {
    height: 40px;
    width: auto;
    margin-right: 10px;

}

.checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;

}

textarea {
    color: #fff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0-3);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    resize: none;
}